/* wholepage styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

a {
    color: #dedee9;
    text-decoration: none; /* no underline */
  }
  
 
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
/* navbar styling */
nav{
  background: #383838;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li .admin{
    display: flex;
    justify-content: right;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #888888;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: white;
  font-size: 1rem;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color:#888888;
}
nav ul li i{
  font-size: 1rem;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}

.button{
background-color:#D35266;
 }
 
.fas {
     color:#D35266;
 }
 
 .logo img{
     height: 1rem;
     width: 1.5rem;
     padding-right: .1rem;
 }
 
 i .adm {
     display:block;
     width:50px;
     height: 50px;
     border-radius: 50px;
     font-size: 25px;
     text-align: center;
     margin-right: 10px;
     background: #fff;
     line-height: 1.7em;
   }
 
   i .adm img{
     display:inline-block;
     width: 1rem;
     height: .7rem;
   }

   /* carrosel section */
.carousel img{
    height:15rem;
    width: 15rem;
}
    
.guitar img{
    height: 10rem;
    width: auto;
}

/* categories section */
.mx-auto{
max-width: 73%;
} 

@media all and (max-width: 720px){
  nav{
    padding: 5px ;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #888888,
                inset 0 0 10px #888888;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}

